@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,700;1,700&display=swap");
body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #202029;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}
h1 {
  font-size: 22px;
  color: white;
  letter-spacing: 7.5px;
  margin-top: 132px;
}
.timer {
  display: flex;
  align-items: center;
  gap: 32px;
}
.timer-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
}
.day,
.hour,
.minute,
.seconds {
  width: 148px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #343650;
  position: relative;
  box-shadow: 0px 10px rgb(37, 36, 36);
}
span {
  font-size: 80px;
  color: #fb5e84;
}
hr {
  width: 148px;
  height: 1px;
  background-color: #000;
  opacity: 0.25;
  position: absolute;
}
h2 {
  font-size: 14px;
  letter-spacing: 5.92px;
  color: #8385a9;
}
.images {
  position: relative;
}
.bodys-img {
  width: 100%;
}
.fb-img,
.pt-img,
.in-img {
  position: absolute;
  cursor: pointer;
  top: 50%;
}
.fb-img {
  left: 45%;
}
.pt-img {
  left: 50%;
}
.in-img {
  left: 55%;
}
.fb-img:hover,
.pt-img:hover,
.in-img:hover {
  background-color: #fb5e84;
}
