@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,700;1,700&display=swap");
body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #46485b;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 104px;
  border: 1px solid red;
}
h1 {
  font-size: 22px;
  color: white;
  letter-spacing: 7.5px;
}
